#hi {
  color: yellow;
}

* {
  font-family: cursive;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

#retzpogi {
  text-transform: uppercase;
}

.retz {
background-color: lightgreen;
}

li[class="dumpling"] {
border-width: 2px;
border-style: solid;
border-color: purple;
}

img + ul {
  list-style-type: none;
}

section img {
  height: 90px;
  width: 90px;
  border-radius: 350px;
}

h4 ~ p {
  text-align: center;
}

body > section > ul > li {
  letter-spacing: 10px;
}